body {
  background-color: #000;
}

.wrapper {
  width: 967px;
  margin: auto;
  padding: 50px;
}

.container {
  width: 300px;
  height: 300px;
  margin: auto;
}

.message {
  width: 600px;
  margin: 30px auto 0;
  color: #fff;
  font-size: 40px;
  padding: 50px;
  border: 5px solid #fff;
  border-radius: 10px;
}

.pixel {
  position: relative;
}

.pixel::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  box-shadow: 160px 20px #222, 140px 40px #222, 160px 40px #3AB8C5, 180px 40px #222, 140px 60px #222, 160px 60px #3AB8C5, 180px 60px #222, 120px 80px #222, 140px 80px #3AB8C5, 160px 80px #3AB8C5, 180px 80px #3AB8C5, 200px 80px #222, 80px 100px #222, 100px 100px #222, 120px 100px #fff, 140px 100px #fff, 160px 100px #3AB8C5, 180px 100px #3AB8C5, 200px 100px #3AB8C5, 220px 100px #222, 240px 100px #222, 60px 120px #222, 80px 120px #fff, 100px 120px #fff, 120px 120px #3AB8C5, 140px 120px #3AB8C5, 160px 120px #3AB8C5, 180px 120px #3AB8C5, 200px 120px #3AB8C5, 220px 120px #3AB8C5, 240px 120px #3AB8C5, 260px 120px #222, 40px 140px #222, 60px 140px #fff, 80px 140px #fff, 100px 140px #3AB8C5, 120px 140px #3AB8C5, 140px 140px #3AB8C5, 160px 140px #3AB8C5, 180px 140px #3AB8C5, 200px 140px #3AB8C5, 220px 140px #3AB8C5, 240px 140px #3AB8C5, 260px 140px #3AB8C5, 280px 140px #222, 20px 160px #222, 40px 160px #3AB8C5, 60px 160px #fff, 80px 160px #3AB8C5, 100px 160px #3AB8C5, 120px 160px #fff, 140px 160px #3AB8C5, 160px 160px #3AB8C5, 180px 160px #3AB8C5, 200px 160px #fff, 220px 160px #3AB8C5, 240px 160px #3AB8C5, 260px 160px #3AB8C5, 280px 160px #3AB8C5, 300px 160px #222, 20px 180px #222, 40px 180px #3AB8C5, 60px 180px #3AB8C5, 80px 180px #3AB8C5, 100px 180px #fff, 120px 180px #222, 140px 180px #fff, 160px 180px #3AB8C5, 180px 180px #fff, 200px 180px #222, 220px 180px #fff, 240px 180px #3AB8C5, 260px 180px #3AB8C5, 280px 180px #3AB8C5, 300px 180px #222, 20px 200px #222, 40px 200px #3AB8C5, 60px 200px #3AB8C5, 80px 200px #3AB8C5, 100px 200px #3AB8C5, 120px 200px #fff, 140px 200px #3AB8C5, 160px 200px #3AB8C5, 180px 200px #3AB8C5, 200px 200px #fff, 220px 200px #3AB8C5, 240px 200px #3AB8C5, 260px 200px #3AB8C5, 280px 200px #3AB8C5, 300px 200px #222, 20px 220px #222, 40px 220px #3AB8C5, 60px 220px #3AB8C5, 80px 220px #3AB8C5, 100px 220px #A00A08, 120px 220px #3AB8C5, 140px 220px #3AB8C5, 160px 220px #3AB8C5, 180px 220px #3AB8C5, 200px 220px #3AB8C5, 220px 220px #A00A08, 240px 220px #3AB8C5, 260px 220px #3AB8C5, 280px 220px #3AB8C5, 300px 220px #222, 40px 240px #222, 60px 240px #3AB8C5, 80px 240px #3AB8C5, 100px 240px #3AB8C5, 120px 240px #A00A08, 140px 240px #A00A08, 160px 240px #A00A08, 180px 240px #A00A08, 200px 240px #A00A08, 220px 240px #3AB8C5, 240px 240px #3AB8C5, 260px 240px #3AB8C5, 280px 240px #222, 60px 260px #222, 80px 260px #222, 100px 260px #3AB8C5, 120px 260px #3AB8C5, 140px 260px #3AB8C5, 160px 260px #3AB8C5, 180px 260px #3AB8C5, 200px 260px #3AB8C5, 220px 260px #3AB8C5, 240px 260px #222, 260px 260px #222, 100px 280px #222, 120px 280px #222, 140px 280px #222, 160px 280px #222, 180px 280px #222, 200px 280px #222, 220px 280px #222;
}